<!DOCTYPE html>
<html  lang="en" xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Восстановление пароля</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/styles/test.css}">
</head>
<body>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active">Восстановление пароля</h2>

        <!-- Signup Form -->
        <form action="/auth/forget" th:object="${user}" method="POST" enctype="multipart/form-data">
            <div>
                <label for="email">Email</label><br>
                <input type="email" id="email" th:field="*{email}"/>
                <p th:if="${emailIsFree}" class="error">Пользователь с таким Email не существует</p>
            </div>
            <input type="submit" value="Восстановить">
        </form>
        <div id="formFooter">
            <!-- SignUp -->
            <a class="underlineHover" th:href="@{/auth/login}">Уже есть аккаунт?</a>
        </div>

    </div>
</div>

</body>
</html>