<!DOCTYPE html>
<html  lang=en xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Games</title>
    <link rel="icon" th:href="@{/icons/owl.png}">
    <link rel="stylesheet" th:href="@{/styles/test.css}">
    <link rel="stylesheet" th:href="@{/styles/hystmodal.min.css}">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script th:src="@{/js/hystmodal.min.js}"></script>
</head>
<body>
<div class="page">
    <div class="header">
        <form class="moderation-btn" th:if="${user.getRole().name() == 'ADMIN'}" th:action="@{/moderation/tickets}" method="GET"><input type="submit" value="Модерация"/></form>
        <form class="logout-btn" th:action="@{/auth/logout}" method="POST"><input type="submit" value="Выйти"></form>
        <form class="profile-btn" th:action="@{/profile/{name}(name=${user.getUsername()})}" method="GET"><input type="submit" value="Профиль"/></form>
    </div>
    <div class="main-container">
        <div class="left-container">
            <div class="game-finder">
                <input type="text"   name="game-name"   id="game-name" placeholder="Название комнаты"/>
                <input type="button" name="find-game"   id="find-game-btn" value="найти"/>
                <input type="button" name="create-game" id="create-game-btn" value="создать"/>
            </div>
            <div id="games-list" class="scrollable"></div>
        </div>
        <div class="right-container">
            <p>Чат</p>
            <div class="chat scrollable" id="chat" name="chat">
            </div>
            <div class="chat-controls">
                <input class="chat-input" type="text" name="chat-input" id="chat-input" placeholder="Введите сообщение"/>
                <input class="chat-btn" type="button" name="chat-btn" id="chat-btn" value="Отправить"/>
            </div>
            <p>Друзья</p>
            <div class="friends-list scrollable">
                <div class="friend" th:each="friend : ${friendsList}" th:attr="username=${friend.getUsername()}">
                    <img class="mini-avatar" th:src="@{/images/profiles_pictures/{name}(name=${friend.getAvatarPic()})}" />
                    <br>
                    [[${friend.getNickname()}]]
                </div>
            </div>
        </div>
    </div>
    <div class="footer"></div>
    <ul class='custom-menu' ></ul>
</div>
<div class="hystmodal" id="banWindow" aria-hidden="true">
    <div class="hystmodal__wrap">
        <div class="hystmodal__window" role="dialog" aria-modal="true">
            <button data-hystclose class="hystmodal__close">Close</button>
            <p>Пожалуйста, выберете тему жалобы</p>
            <div class="ban-options">
                <input type="radio" id="ban-option-1"
                       name="ban-option" value="swearing">
                <label for="ban-option-1">Ругается в чате</label><br>
                <input type="radio" id="ban-option-2"
                       name="ban-option" value="behaviour">
                <label for="ban-option-2">Оскорбительное поведение или профиль</label><br>
                <input type="radio" id="ban-option-3"
                       name="ban-option" value="demoralize">
                <label for="ban-option-3">Неспортивное поведение</label><br>
            </div>
            <p>Пожалуйста, опишите причину вашего недовольства подробнее</p>
            <input type="text" id="ban-text"/>
            <input type="button" value="Отправить" id="send-ticket-btn"/>
        </div>
    </div>
</div>
<input  type="hidden" id="your-username" th:value="${user.getUsername()}" style="display: none">
</body>
<script src="../static/js/games.js" th:src="@{/js/games.js}"></script>
</html>