<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title Game>
    </title>
    <link rel="stylesheet" th:href="@{/styles/game.css}">
    <link rel="icon" th:href="@{/icons/owl.png}">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.3.0/p5.min.js" integrity="sha512-tGZFF1kxT/c9C+kv77mKkZ9Ww1VyU8TMX6HLUSzbPrDLuptbiRFBfti8A33ip+BBIHYUsybuZD9OKLmIqdLmaQ==" crossorigin="anonymous"></script>
</head>

<body>
    <div class="top">
        <div class="host-area">
            <button type="submit" class="next-question">
                <img src="https://iconarchive.com/download/i106741/praveen/minimal-outline/next.ico" />
            </button>
        </div>
        <div class="scoreboard">0:0</div>
        <input type="button" name="leave-button" id="leave-button" value="Выйти" />
    </div>
    <div class="main-container">
        <div class="main-left">
            <div class="players-list">

            </div>
        </div>
        <div class="main-center">
            <div class="game-field">
                <div class="roulette" id="roulette">
                    <!--<svg viewbox="0, 0, 100, 100" xmlns="http://www.w3.org/2000/svg" id="roulette-svg"></svg>-->
                </div>
            </div>
            <div class="action-panel">
                <input type="button" name="answer-button" id="answer-button" value="Ответить" />
                <div class="tips">
                    <div class=tip>tip</div>
                </div>
            </div>
        </div>
        <div class="main-right">
            <p>Chat</p>
            <div class="chat scrollable" id="chat" name="chat">
            </div>
            <div class="chat-controls">
                <input class="chat-input" type="text" name="chat-input" id="chat-input" />
                <input class="chat-btn" type="button" name="chat-btn" id="chat-btn" value="Отправить" />
            </div>
        </div>
    </div>
</body>
<script th:src="@{/js/roulette.js}"></script>
<script th:src="@{/js/game.js}"></script>

</html>