<!DOCTYPE html>
<html  lang="en" xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" th:href="@{/styles/test.css}">
    <link rel="icon" th:href="@{/icons/owl.png}">
</head>
<body >

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active">Войти</h2>
        <!-- Login Form -->
        <p th:if="${loginError}" class="error">Не верный логин или пароль</p>
        <p th:if="${doubleSessionError}" class="error">Ваша прошлая сессия была вынуждено закрыта. Повторите ещё раз</p>
        <form th:method="POST" th:action="@{/auth/login}">
            <label for="username">Логин</label><br><input type="text" id="username" name="username"/><br>
            <label for="password">Пароль</label><br><input type="password" id="password" name="password"/><br>
            <p><input type="submit" value="Войти" />
        </form>


        <div id="formFooter">
            <!-- Remind Passowrd -->
            <a class="underlineHover" th:href="@{/auth/forget}">Забыли пароль?</a><br>
            <!-- SignUp -->
            <a class="underlineHover" th:href="@{/auth/signup}">Нет аккаунта?</a>
        </div>

    </div>
</div>

</body>
</html>