<!DOCTYPE html>
<html  lang="en" xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Moderation</title>
    <link rel="icon" th:href="@{/icons/owl.png}">
    <link rel="stylesheet" th:href="@{/styles/moderation.css}">
    <script src="/webjars/jquery/jquery.min.js"></script>
</head>
<body>
    <table>
        <tr>
            <td>Id</td>
            <td>Тема</td>
            <td>Отправитель</td>
            <td>Подозреваемый</td>
            <td>Подробное описание</td>
        </tr>
        <th:block th:each="ticket : ${ticketList}">
            <tr th:unless="${ticket.getStatus()}" th:id="'row-' + ${ticket.getTicketId()}">
                <td th:text="${ticket.getTicketId()}">Id</td>
                <td th:text="${ticket.getTheme()}">Theme</td>
                <td th:text="${ticket.getSender().getUsername()}">Sender</td>
                <td th:text="${ticket.getSuspect().getUsername()}">Sus</td>
                <td th:text="${ticket.getDescription()}">Description</td>
                <td>
                    <input class="accept-btn" type="button" value="Принять" data-th-attr="data-ticketId=${ticket.getTicketId()}"/>
                    <input class="reject-btn" type="button" value="Отказать" data-th-attr="data-ticketId=${ticket.getTicketId()}"/>
                </td>
            </tr>
        </th:block>
    </table>
</body>
<script src="../static/js/games.js" th:src="@{/js/moderation.js}"></script>
</html>