<!DOCTYPE html>
<html  lang="en" xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title th:text="${user.getUsername()}">
    </title>
    <link rel="stylesheet" th:href = "@{/styles/profile.css}">
    <link rel="icon" th:href="@{/icons/owl.png}">
</head>
<body>
    <div>
        <img class="user-image" th:src="@{/images/profiles_pictures/{name}(name=${user.getAvatarPic()})}" alt="Пикча не найдена">
    </div>
    <a class="user-settings" th:if="${isMe}" th:href="@{{uname}/settings(uname=${user.getUsername()})}">Настройки</a>
    <div class="user-about">
        <p>[[${user.getNickname()}]] с нами с [[${#dates.format(user.getCreationDate(), "dd-MM-yyyy")}]]</p>
    </div>

    <div class="friends-list scrollable" th:if="${isMe}">
        <div class="friend" th:each="friend : ${friendsList}" th:attr="username=${friend.getUsername()}">
             <img class="mini-avatar" th:src="@{/images/profiles_pictures/{name}(name=${friend.getAvatarPic()})}" />
            <br>[[${friend.getNickname()}]]
         </div>
    </div>

    <div class="user-info">
        <table>
            <tr>
                <td>Всего матчей [[${user.getTotalGames()}]]</td>
            </tr>
            <tr>
                <td>Выиграно матчей [[${user.getWinedGames()}]]</td>
            </tr>
            <tr>
                <td>Текущая позиция [[${user.getPosition()}]]</td>
            </tr>
            <tr>
                <td>Процет побед [[${(user.getWinedGames()*1.0/user.getTotalGames())*100 + '%'}]]</td>
            </tr>
            <tr>
                <td>Количество очков [[${user.getScore()}]]</td>
            </tr>
        </table>
    </div>
</body>
</html>