<!DOCTYPE html>
<html  lang="en" xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Восстановление пароля</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/styles/test.css}">
    <link rel="icon" th:href="@{/icons/owl.png}">
</head>
<body>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active">Восстановление пароля</h2>

        <!-- Signup Form -->
        <form action="/auth/recover" method="POST" th:object="${user}">
            <div>
                <p>Восстановление пароля для [[${user.getUsername()}]]</p>
                <label for="password">Новый пароль</label><br>
                <input type="text" id="password" name="password" th:field="*{password}"/>
                <p th:each="error : ${#fields.errors('password')}"
                   th:text="${error}" class="error">Validation error</p>
                <input type="hidden" id="token" name="token" th:value="${token}">
            </div>
            <input type="submit" value="Восстановить">
        </form>
        <div id="formFooter">
        </div>

    </div>
</div>

</body>
</html>